## Deliverable 3. Create a Travel Itinerary Map.

In [117]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config2 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [118]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,1,Butaritari,KI,81.52,light rain,3.0707,172.7902,Isles Sunset Lodge
1,7,Olinda,BR,80.60,scattered clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
2,8,Arraial Do Cabo,BR,84.20,clear sky,-22.9661,-42.0278,Pousada Porto Praia
3,10,Rikitea,PF,78.33,overcast clouds,-23.1203,-134.9692,Pension Maro'i
4,16,Kapaa,US,78.80,few clouds,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [119]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [120]:
# 4a. Add a marker layer for each city to the map.

max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [129]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
city_start     = "Perbaungan"
city_end       = "Perbaungan"
city_stop1     = "Sibolga"
city_stop2     = "Dumai"
city_stop3     = "Padang"

vacation_start = vacation_df.loc[vacation_df['City'] == city_start]
vacation_end   = vacation_df.loc[vacation_df['City'] == city_end]
vacation_stop1 = vacation_df.loc[vacation_df['City'] == city_stop1]
vacation_stop2 = vacation_df.loc[vacation_df['City'] == city_stop2] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == city_stop3]

In [130]:
start_lat_lng  = vacation_start[["Lat", "Lng"]]

tuples = [tuple(x) for x in start_lat_lng.to_numpy()]
tuples

[(3.5679, 98.956)]

In [131]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = [tuple(x) for x in vacation_start[["Lat", "Lng"]].to_numpy()]
end   = [tuple(x) for x in vacation_end[["Lat", "Lng"]].to_numpy()]
stop1 = [tuple(x) for x in vacation_stop1[["Lat", "Lng"]].to_numpy()]
stop2 = [tuple(x) for x in vacation_stop2[["Lat", "Lng"]].to_numpy()]
stop3 = [tuple(x) for x in vacation_stop3[["Lat", "Lng"]].to_numpy()]

start[0]

(3.5679, 98.956)

In [132]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
geneva2zurich = gmaps.directions_layer(start[0], end[0], waypoints=[stop1[0], stop2[0], stop3[0]], travel_mode='DRIVING')
fig.add_layer(geneva2zurich)
fig

Figure(layout=FigureLayout(height='420px'))

In [133]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,689,Perbaungan,ID,75.20,scattered clouds,3.5679,98.9560,Bendang Lama
1,580,Sibolga,ID,76.96,overcast clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
2,562,Dumai,ID,75.56,overcast clouds,1.6833,101.4500,Grand Zuri Dumai
3,208,Padang,ID,78.53,light rain,-0.9492,100.3543,Mercure Padang

In [136]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [138]:
# 11a. Add a marker layer for each city to the map. 
locations    = itinerary_df[["Lat", "Lng"]]
max_temp     = itinerary_df["Max Temp"]
fig          = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))